.marquee-slider {
  display: flex;
  width: max-content;
  animation: scrollLeftContact 20s linear infinite;
}
@keyframes scrollLeftContact {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-50%);
  }
}
